ansi2html==1.8.0
anyio==3.6.2
atomicwrites==1.4.1
attrs==23.1.0
autopep8==2.0.2
bcrypt==4.0.1
beautifulsoup4==4.12.2
bs4==0.0.1
cairocffi==1.6.1
CairoSVG==2.7.1
certifi==2023.7.22
cffi==1.15.1
cfgv==3.4.0
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
contourpy==1.1.0
cryptography==40.0.2
cssselect2==0.7.0
cycler==0.11.0
dash==2.13.0
dash-bootstrap-components==1.4.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.10.2
dash-table==5.0.0
dash-tools==1.11.1
defusedxml==0.7.1
distlib==0.3.7
dnspython==2.3.0
docopt==0.6.2
ecdsa==0.18.0
email-validator==2.0.0.post2
et-xmlfile==1.1.0
exceptiongroup==1.1.3
fastapi==0.95.1
filelock==3.12.3
Flask==2.2.5
fonttools==4.42.1
greenlet==2.0.2
gunicorn==21.2.0
h11==0.14.0
html5lib==1.1
identify==2.5.27
idna==3.4
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.5
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib==3.7.2
nest-asyncio==1.5.7
nodeenv==1.8.0
numpy==1.24.3
openpyxl==3.1.2
outcome==1.2.0
packaging==21.0
pandas==2.0.3
passlib==1.7.4
peewee==3.16.2
Pillow==10.0.0
pipreqs==0.4.11
platformdirs==3.10.0
plotly==5.16.1
pluggy==1.3.0
pre-commit==2.16.0
psycopg2==2.9.6
py==1.11.0
pyasn1==0.5.0
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.7
pyparsing==3.0.9
PySocks==1.7.1
pytest==6.2.5
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart==0.0.6
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
retrying==1.3.4
rsa==4.9
ruamel.yaml==0.17.21
selenium==4.11.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a35
sqlmodel==0.0.8
starlette==0.26.1
tenacity==8.2.3
termcolor==1.1.0
tinycss2==1.2.1
toml==0.10.2
trio==0.22.2
trio-websocket==0.10.3
typing_extensions==4.5.0
tzdata==2023.3
urllib3==2.0.4
uvicorn==0.22.0
virtualenv==20.24.5
visdcc==0.0.50
webencodings==0.5.1
Werkzeug==2.2.3
wsproto==1.2.0
XlsxWriter==3.1.3
yarg==0.1.9
yolk3k==0.9
